.wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
}

.container {
  width: 460px;
  height: 660px;

  background-color: white;
  border-radius: 15px;

  position: absolute;
  right: 0;
  top: 200px;
}
